# Desafio

### Exercício: Explorando o Conjunto de Dados de Vendas de carros elétricos

**Objetivo:** Utilizar a biblioteca Pandas e Matplotlib para extrair e analisar informações dos conjuntos de dados de vendas de carros elétricos.
link: https://www.kaggle.com/datasets/patricklford/global-ev-sales-2010-2024

Desafios/etapas:
1. importar a biblioteca pandas no Jupyter
2. ler o arquivo .csv
3. apresentar informações básicas do dataset
4. limpar as linhas que possuirem dados vazios
5. plotar um gráfico do tipo "pie" verificando a contagem de cada tipo de veículos (coluna mode).
6. plotar um gráfico do tipo "bar" verificando as 10 primeiras regiões em quantidade de veículos.

In [12]:
#01
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
#02
df = pd.read_csv('./vendas_ve.csv')
df.head()

,region,category,parameter,mode,powertrain,year,unit,value
0,Australia,Historical,EV stock share,Cars,EV,2011,percent,0.00039
1,Australia,Historical,EV sales share,Cars,EV,2011,percent,0.00650
2,Australia,Historical,EV sales,Cars,BEV,2011,Vehicles,49.00000
3,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,49.00000
4,Australia,Historical,EV stock,Cars,BEV,2012,Vehicles,220.00000

In [13]:
df['unit'].unique() #visualizei os unicos valores na coluna unit

array(['percent', 'Vehicles', 'charging points', 'GWh',
       'Milion barrels per day', 'Oil displacement, million lge'],
      dtype=object)

In [14]:
df.isnull().sum() #Soma a quantidade de linhas vazias por coluna

region        0
category      0
parameter     0
mode          0
powertrain    0
year          0
unit          0
value         0
dtype: int64

In [15]:
df.duplicated().sum() #soma a quantidade de linhas duplicadas

0

In [16]:
df_vehicles = df.loc[df['unit'] == 'Vehicles']

print(df.unit.unique())  #mostra os únicos valores do df primário
print(df_vehicles.unit.unique()) # mostra os únicos valores no df alterado

['percent' 'Vehicles' 'charging points' 'GWh' 'Milion barrels per day'
 'Oil displacement, million lge']
['Vehicles']

In [17]:
print(df_vehicles['mode'].unique())

['Cars' 'Buses' 'Vans' 'Trucks']

In [5]:
#03
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12654 entries, 0 to 12653
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   region      12654 non-null  object
 1   category    12654 non-null  object
 2   parameter   12654 non-null  object
 3   mode        12654 non-null  object
 4   powertrain  12654 non-null  object
 5   year        12654 non-null  int64
 6   unit        12654 non-null  object
 7   value       12654 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 791.0+ KB

In [6]:
#04
df = df.dropna()
df_generico = df
df.head()

,region,category,parameter,mode,powertrain,year,unit,value
0,Australia,Historical,EV stock share,Cars,EV,2011,percent,0.00039
1,Australia,Historical,EV sales share,Cars,EV,2011,percent,0.00650
2,Australia,Historical,EV sales,Cars,BEV,2011,Vehicles,49.00000
3,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,49.00000
4,Australia,Historical,EV stock,Cars,BEV,2012,Vehicles,220.00000

In [9]:
#05
plt.pie(mode,unit)
plt.show()

NameError: name 'mode' is not defined

In [10]:
plt.bar(region)
plt.show()

NameError: name 'region' is not defined